<div class="container">
  <form autocomplete="off" >

    <div class="col-12">
      <h1>Nova Pessoa</h1>
    </div>

    <div class="formgrid grid">

      <div class="field col-12">
        <label>Nome</label>
        <input pInputText type="text" class="w-full">
      </div>

      <div class="field col-12 md:col-9 fluid">
        <label>Logradouro</label>
        <input pInputText type="text" class="w-full">
      </div>

      <div class="field col-12 md:col-3 fluid">
        <label>Número</label>
        <input pInputText type="text" class="w-full">
      </div>

      <div class="field col-12 md:col-4">
        <label>Complemento</label>
        <input pInputText type="text" class="w-full">
      </div>

      <div class="field col-12 md:col-4">
        <label>Bairro</label>
        <input pInputText type="text" class="w-full">
      </div>

      <div class="field col-12 md:col-4">
        <label>CEP</label>
        <p-inputMask mask="99.999-999" p-InputText styleClass="w-full"></p-inputMask>
      </div>

      <div class="field col-12 md:col-6 fluid">
        <label>Cidade</label>
        <input pInputText type="text" class="w-full">
      </div>

      <div class="field col-12 md:col-6 fluid">
        <label>Estado</label>
        <input pInputText type="text" class="w-full">
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="p-button-info"></button>

        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
